








.fl-node-5c11617b38e28.fl-row-fixed-width,
 .fl-node-5c11617b38e28 .fl-row-fixed-width {
	max-width: 1984px;
}

.fl-node-5c11617b38e28 .fl-bg-video-audio {
	display: none;
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 5;
	width: 20px;
}
.fl-node-5c11617b38e28 .fl-bg-video-audio .fl-audio-control {
	font-size: 20px;
}
.fl-node-5c11617b38e28 .fl-bg-video-audio .fa-times {
	font-size: 10px;
	vertical-align: middle;
	position: absolute;
	top: 5px;
	left: 11px;
	bottom: 0;
}
.fl-node-5c11617b59743 {
	width: 100%;
}










	
	
 .fl-node-5c11617b38d75 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
